html, body {
	margin: 0; 
	padding: 0;
}

.main {
	width: 100%;
	background-color: rgba(50,50,50,1);
	padding: 10em 0 5em;
	text-align: center;
	color: #fff;
}

h1 {
	font-family: 'Oxygen', sans-serif;
	font-size: 2em;
	font-weight: 300;
	line-height: 1.35em;
}

h2 {
	font-family: 'Oxygen', sans-serif;
	font-size: 3em;
	font-weight: 700;
	padding: 0 5%;
}

a,
a:visited {
	color: #fff;
}

a:active,
a:hover {
	color: #000;
}

h3 {
	font-family: 'Oxygen', sans-serif;
	font-size: 2em;
	font-weight: 300;
}

h4 {
	font-size: 7em;
	line-height: 0;
}