body, figure {
   margin: 0;
   padding: 0;
}

/*                                                                   First Section*/

.contact-button {
   display: none;
   /*
   background-color: rgba(77,77,77,77.5);
   border-radius: 15px;
   width: 7em;
   padding: 0.5em 0;
   text-decoration: none;
   text-align: center;
   */
   border-bottom: 1px #fff solid;
   color: #fff;
   position: fixed;
   right: 3%;
   top: 1em;
   font-family: 'Helvetica', sans-serif;
}

.contact-button:active {
   background-color: #fff;
   color: #000;
}

.contact-link {
   -webkit-transition: all 450ms linear;
   -moz-transition: all 450ms linear;
   -ms-transition: all 450ms linear;
   -o-transition: all 450ms linear;
   transition: all 450ms linear;
}

.bg-section {
   background: transparent url("../img/bg.jpg") no-repeat center top;
   background-size: cover;
   text-align: center;
   position: relative;
   z-index: 1;
   padding: 25em 0 35em;
}

.name {
   width: 100%;
   position: fixed;
   top: 5em;
   font-family: 'Oxygen', sans-serif;
   font-size: 6em;
   color: #fff;
}

.cred {
   background-color: rgba(77,77,77,77.5);
   position: fixed;
   top: 42em;
   right: 0;
   padding: 0.5em 1%;
   color: #fff;
   text-decoration: none;
}

.link,
.link:visited {
   font-size: 12px;
   font-family: 'Helvetica', sans-serif;
   color: #fff;
}

h5 {
   margin: 0;
   padding: 0;
}

@media (min-width: 240px) and (max-width: 600px) {
   .contact-button {
      display: block;
      z-index: 5;
   }
   .bg-section {
      padding: 15em 0 25em;
   }
   .name {
      top: 10em;
      font-size: 3em;
   }
   .cred {
      top: 37em;
   }
   .link,
   .link:visited {
      font-size: 6px;
   }
}

@media (min-width: 600px) and (max-width: 960px) {
   .contact-button {
      display: block;
      z-index: 5;
   }
   .bg-section {
      padding: 20em 0 30em;
   }
   .name {
      top: 5em;
   }
   .cred {
      top: 43em;
   }
   .link,
   .link:visited {
      font-size: 10px;
   }
}

/*                                                                         Second Section*/

.about {
   z-index: 2;
   padding: 5em 0;
   background-color: rgba(100,100,100,1);
   position: relative;
   -webkit-transition: all 500ms ease;
   -moz-filter: all 500ms ease;
   -ms-filter: all 500ms ease;
   transition: all 500ms ease;
}

.aboutme {
   color: #fff;
   font-size: 2em;
   text-align: center;
   font-family: 'Oxygen', sans-serif;
   top: -3em;
   position: relative;
   -webkit-transition: all 500ms ease;
   -moz-filter: all 500ms ease;
   -ms-filter: all 500ms ease;
   transition: all 500ms ease;
}

@media (min-width: 240px) and (max-width: 600px) {
   .aboutme {
      font-size: 1.5em;
      top: -2em;
   }
   .about {
      padding: 2.5em 0;
   }
}

@media (min-width: 600px) and (max-width: 960px) {
   .aboutme {
      font-size: 1.75em;
      top: -2.5em;
   }
   .about {
      padding: 3.66em 0;
   }
}

/*                                                                       Third Section*/

.main {
   padding: 3em 1% 1em;
   background-color: #fff;
   z-index: 3;
   text-align: center;
   position: relative;
   overflow: hidden;
}

.bw {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; /* IE 6-9 */
   -webkit-transition: all 500ms ease;
   -moz-filter: all 500ms ease;
   -ms-filter: all 500ms ease;
   transition: all 500ms ease;

   width: 75%;
   z-index: 5;
   padding: 0;
   margin: 0 12.5%;
   position: relative;
}

.bw:hover {
   -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none;

   width: 90%;
   margin: 0;
}

.large-1-3 {
	width: 33.33%;
	float: left;
   height: 16.5em;
   z-index: 5;
   margin: 0 auto;
   position: relative;
   -webkit-transition: all 500ms ease;
   -moz-filter: all 500ms ease;
   -ms-filter: all 500ms ease;
   transition: all 500ms ease;
}

.evener {
   display: block;
}

figcaption {
   width: 90%;
   margin: 0 auto;
   padding: 0.25em 0;
   color: #fff;
   position: relative;
   bottom: 1.85em;
   opacity: 0;
   background-color: rgba(0,0,0,0.5);
   z-index: 6;
   font-weight: bold;
   font-size: 1.25em;
   font-family: 'Helvetica', sans-serif;
   -webkit-transition: all 500ms ease;
   -moz-filter: all 500ms ease;
   -ms-filter: all 500ms ease;
   transition: all 500ms ease;
}

figure:hover figcaption {
   opacity: 100;
}

@media (min-width: 240px) and (max-width: 600px) {
   .large-1-3 {
      width: 100%;
      height: 17.5em;
   }
   .evener {
      display: block;
   }
   .bw {
      -webkit-filter: none;
      -moz-filter: none;
      -ms-filter: none;
      filter: none;
      width: 90%;
      padding: 0;
      margin: 0;
      position: relative;
   }
   figcaption {
      opacity: 100;
   }
}

@media (min-width: 600px) and (max-width: 960px) {
   .large-1-3 {
      width: 50%;
      height: 17.5em;
   }
   .evener {
      display: none;
   }
  .bw {
      -webkit-filter: none;
      -moz-filter: none;
      -ms-filter: none;
      filter: none;
      width: 90%;
      padding: 0;
      margin: 0;
      position: relative;
   }
   figcaption {
      opacity: 100;
   }
}

/*                                                                       Fourth Section*/

.contact {
   z-index: 4;
   position: relative;
   padding: 5em 5% 5em;
   background-color: rgba(100,100,100,1);
   color: #fff;
   font-family: 'Oxygen', sans-serif;
}

.name2 {
   font-size: 2em;
}

.email {
   color: #fff;
   font-style: italic;
   font-size: 1.25em;
}

.info {
   line-height: 0.5em;
}

.top {
   /*width: 7em;
   padding: 0.5em 0;
   background-color: #000;
   text-align: center;
   text-decoration: none;
   border-radius: 15px;*/
   position: absolute;
   border-bottom: 1px #fff solid;
   color: #fff;
   right: 3%;
   bottom: 1em;
   font-family: 'Helvetica', sans-serif;
}

.top:active {
   background-color: #fff;
   color: #000;
}